:root{

}
/* Start Global rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
.youtube-logo{
    font-size: 16px;
}
.youtube-logo img{
    
}
.youtube-logo i{
    color: red;
}
/* End Global rules */
/* Start Heading */
.heading{
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    align-items: center;
}
.heading .left-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.heading .left-icons img{
    width: 32px;
    border-radius: 50%;
}
.heading .center-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.heading .center-icons input{
    width: 75vh;
    height: 30px;
    outline: none;
    position: relative;
}
.heading .center-icons input::before{
    content: "";
    background-image: url("image\searching-img.png");
}
.heading .left-icons i,
.heading .center-icons i{
    font-size: 22px;
}
.heading .center-icons i {
    padding: 20px;
    position: relative;
}
.heading .center-icons i::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f5f4f4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
}
.heading .right-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.heading .right-icons i{
    font-size: 21px;
}
/* End Heading */
/* Start landing */
.contain{
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: grid;
    grid-template-columns: 386px calc(100% - 386px);
    padding-top: 20px;
}
.contain .sidebar{
    background-color: #eee;
    width: 100%;
    height: 100%;
}
.contain .sidebar .random-video{
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10px 10px;
}
.contain .sidebar img{
    width: 169px;
    height: 94px;
}
.contain .sidebar .video-info{
    direction: rtl;
    margin-right: 10px;
    display: grid;
    align-content: space-evenly;

}
.contain .sidebar .video-name{
    font-size: 15px;
    color: black;
}
.contain .sidebar .channel-name{
    color: #919191;
    font-size: 15px;
}
.contain .sidebar .viewer{
    color: #919191;
    font-size: 15px;
}
.contain .video{
    background-color: #eee;
    width: 100%;
    height: 100%;
    direction: rtl;
}
.contain .video iframe{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 640px;
    width: 100%;
}
.contain .video h1{
    font-size: 1.5em;
    margin: 0 0 10px;
}
.contain .video p{
    color: #666;
    overflow: hidden;
    height: 35px;
}
.contain .video .show{
    direction: ltr;
    color: #666;
    cursor: pointer;
}
.contain .video ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 20px;
    list-style: none;
    font-size: 20px;
}
.contain .video .channel-box{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #cbcbcb;
    padding: 10px;
}
.contain .video .channel-box .right-info{
    display: flex;
    align-items: center;
}
.contain .video .channel-box .right-info img{
    width: 36px;
    border-radius: 50%;
}
.contain .video .channel-box .right-info .channel-info{
    
}
.contain .video .channel-box .right-info .channel-info span{
    color: #666;
}
.contain .video .channel-box .left-info{
    
}
.contain .video .channel-box .left-info button{
    background-color: #bf1d1d;
    color: white;
    border-radius: 2px;
    border: none;
    padding: 10px;
}
.contain .video .channel-box .left-info i{
    display: none;
}
/* End landing */